*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
.*.cfg
*.gz
*.blend*
*.zip

bin/
build/
develop-eggs/
downloads/
eggs/
fake-eggs/
parts/
dist/
var/
videos/
maps_archive/
*env/
*ignoretifs/
*/dist/

carla*
CARLA*
osm*
OSM*
